<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_KEY</key>
	<string>7d431e42dfa6a6d693ac2d04</string>
	<key>CHANNEL</key>
	<string>Subscription</string>
</dict>
</plist>
