<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>用户在：${channel.name} (${channel.userCount})</title>
</head>


<body>
<a href="/main">首页</a>
 | <a href="/channel">全部频道</a>
 | <a href="/channel/enter?channel_name=${channel.name}&udid=${udid}">频道 - ${channel.name}</a>
<hr />

<#list userList as user>
<p><a href="/chatting?chatting=${user.name}&udid=${udid}">${user.name}</a></p>
</#list>

</body>
</html>
