<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta charset="utf8">
<title>错误提示</title>
<style>
* {margin:0;padding:0;}
body{
color: #333;
font-family: arial;
font-size: 14px;
background: #EEE;
margin:0;
}
.item-list {
border-top: 1px solid #DDD;
border-bottom: 1px solid white;
margin: 0;
padding: 0;
list-style: none;
}
.item-list li {
height: 44px;
overflow: hidden;
border-top: 1px solid white;
border-bottom: 1px solid #DDD;
line-height: 44px;
text-indent: 10px;
font-size: 14px;
}
</style>
</head>

<body>
<ul class="item-list">
	<li>
		<#if info ??>
		<span style="color:blue;">${info}</span> <br/>
		</#if>
		<#if error ??>
		<span style="color:red;">${error}</span><br />
		</#if>
	</li>
</ul>
</body>
</html>
