<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>新频道</title>
</head>


<body>
频道名称：
<form action="/channel/enter" method="POST">
<input type="text" name="channel_name" />
<input type="hidden" name="udid" value="${udid}" />
<input type="submit" value="新建或者加入频道" />
</form>

<ul>
<li>支持字母、数字、下划线、中文，长度限制为 20。</li>
<li>如果频道不存在，则新建频道。</li>
<li>如果已经存在，则加入这个频道，并进入。</li>
</ul>

</body>
</html>
